body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }

  .navbar{
    height: 3vw;
    margin: .2em;
  }

  .nav-link{

    font-size:0.5em;
  }