


  
<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Basic Info</ng-template>
            
          <mat-card>
            <mat-card-title>
            </mat-card-title>
            <mat-card-header align="end">
              <div class="row">
          
                <div class="col-2">
                  <div class="user-details-container">
                    <img class="user-image" src="https://randomuser.me/api/portraits/lego/3.jpg" />
          
                  </div>
                </div>
              </div>
          
            </mat-card-header>
           </mat-card>
          
         


           


          <div>
              <button mat-button matStepperNext>Next</button>
          </div>
      </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
      <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Education Details</ng-template>
            
          <mat-card>
            <mat-card-title>
             </mat-card-title>
             <mat-card-header align="end">
            </mat-card-header>
            <mat-card-content>
              <mat-toolbar color="primary">
                <span>Angular MatTable CRUD Example</span>
                <span class="spacer"></span>
                Reload data:
                <button mat-icon-button (click)="refresh()">
                  <mat-icon>refresh</mat-icon>
                </button>
              </mat-toolbar>
              
              <div class="container mat-elevation-z8">
              
                <div class="form">
                  <mat-form-field floatPlaceholder="never" color="accent">
                    <input matInput #filter placeholder="Filter issues">
                  </mat-form-field>
                </div>
              
                <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
              
                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                    <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Level</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.level}}</mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Board</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.board}}</mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="url">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Institute Name</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.institute}}</mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="created_at">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Marks</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.marks}}</mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="updated_at">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Passing year</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.passed}}</mat-cell>
                  </ng-container>
              
                  <!-- actions -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                      <button mat-icon-button color="primary" (click)="addNew()">
                        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                      </button>
                    </mat-header-cell>
              
                    <mat-cell *matCellDef="let row; let i=index;">
                      <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.level, row.institute, row.marks, row.passed)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                      </button>
              
                      <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              

                <mat-card>
                  <mat-card-title>SkillSet</mat-card-title>
                  <mat-card-content>
                    
                    <mat-form-field class="skilllist">
                      <mat-chip-list #chipList>
                        <mat-chip
                          *ngFor="let skill of skills"
                          [selectable]="selectable"
                          [removable]="removable"
                          (removed)="remove(skill)">
                          {{skill}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input
                          placeholder="Add SKill"
                          #fruitInput
                          [formControl]="skillCtrl"
                          [matAutocomplete]="auto"
                          [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur"
                          (matChipInputTokenEnd)="add($event)">
                      </mat-chip-list>
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
                          {{skill}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>





                  </mat-card-content>

                </mat-card>
              
               
              
               
              </div>
              
         </mat-card-content>
            
           </mat-card>










          <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
          </div>
      </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" [optional]="isOptional">
    <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Experience Details</ng-template>
          
           
          







        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </form>
</mat-step> 




  <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      Forms Submitted Successfully
      <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
  </mat-step>
</mat-horizontal-stepper>